.upload{
    align-self: center;
    width: 500px;
    /*background-color: white;*/
    /*border: 1px solid lightgrey;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.upload__img{
    width: 100%;
    display: flex;
    align-items: center;
}
.upload__img__progressBar{
    flex: 1;
    margin-left: 10px;
}
.upload__caption{
    width: 100%;
    margin: 20px 0 !important;
}
.upload__btn{
    width: 200px;
}
.uploading{
    pointer-events: none;
}