.user{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.user__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #FAFAFA;
    z-index: 2;
    padding: 20px;
}
.show{
    animation: animate_show 0.3s 1 forwards;
}
@keyframes animate_show {
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.hide{
    animation: animate_hide 0.3s 1 forwards;
}
@keyframes animate_hide {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0.8);
    }
}
.user__form__title{
    margin-bottom: 10px;
}
.user__form__input{
    margin: 10px 0 !important;
    width: 80%;
}
.user__form__btn{
    margin-bottom: 10px !important;
    width: 200px;
}

/*------------------------------------------------ RESPONSIVE -----------------------------*/

@media screen and (max-width: 500px) {
    .user__form {
        width: 80%;
    }
    .user__form__btn{
        width: 50%;
    }
}